@charset "UTF-8";
@font-face {
  font-family: "marvel_font";
  src: url("../font/SpeedyRegular-7BLoE.ttf") format("truetype");
}
*{
  box-sizing: border-box;
}
body {
  font-family: marvel_font;
  font-size: 16px;
  line-height: 1.75;
  background-color: black;
  margin: 0;
}
ul, li{
  list-style: none;
  color: #ffffff;
}
h1, h2, h3, p{
  color: #ffffff;
}
a{
  text-decoration: none;
}
.header{
  width: 100%;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}
.logo{
  opacity: 90%;
  width: 10vw;
  height: 8vh;
  display: flex;
  align-items: center;
}
.logo img{
  /* width: 10vw; */
  height: 8vh;
}
.navigation{
  position: fixed;
  right: 0;
  z-index: 100;
  min-width: 50vw;
  text-align: center;
  font-family: marvel_font;
  letter-spacing: 0.1em;
}
.gnavi{
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.gnavi li a{
  display: block;
  padding: 0 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:#ff0000;
}

.gnavi li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background:#ff0000;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: left top;
}
.gnavi li.current a::after,
.gnavi li a:hover::after {
  transform: scale(1, 1);
}

nav{
	color:#fff;
	text-align: center;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
nav ul ul{
	display: block;
}

nav ul li{
	position: relative;
}

nav ul li a{
	display: block;
	text-decoration: none;
	padding:20px 35px;
	transition:all .3s;
}

nav ul li.has-child::before{
	content:'';
	position: absolute;
	right: -5px;
	top:13px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
  border-right:2px solid #999;
  transform: rotate(135deg);
}

nav li.has-child ul{
	position: absolute;
	top:62px;
	z-index: 4;
  backdrop-filter: blur(10px);
  background-color: #0000007e;
	width: 250px;
	visibility: hidden;
	opacity: 0;
  padding-left: 0;
	transition: all .3s;
}

nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

nav li.has-child ul li a{
	color: #fff;
  margin: 2% 0;
	border-bottom:solid 1px rgba(255, 255, 255, 0.342);
}

nav li.has-child ul li:last-child > a{
 border-bottom:none;
 }

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	backdrop-filter: blur(10px);
}


.dli-question-circle {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  color: #7a7a7a;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
}

.dli-question-circle > span {
  position: relative;
  width: 0.1em;
  height: 0.1504em;
  background: currentColor;
  border-radius: 0.05em 0 0.025em 0.025em;
  position: absolute;
  top: 9%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dli-question-circle > span::before {
  content: '';
  position: absolute;
  left: 0.05em;
  bottom: calc(100% - 0.1em);
  width: 0.168em;
  height: 0.168em;
  border: 0.1em solid currentColor;
  border-left-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
  transform: translateX(-50%) rotate(-45deg);
}

.dli-question-circle > span::after {
  content: '';
  position: absolute;
  top: calc(100% + 0.06667em);
  left: 0;
  width: inherit;
  height: 0.1em;
  background: currentColor;
  border-radius: 50%;
}

@media screen and (max-width:768px){
	nav{
		padding: 0;
	}
	
	nav ul{
		display: block;
	}
	
	nav li.has-child ul,
	nav li.has-child ul ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;
	opacity:1;
	display: none;
	transition:none;/
}
	
nav ul li a{
	border-bottom:1px solid #ccc;
}

nav ul li.has-child::before{
	left:20px;	
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
	left:20px;
}
    
nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}
