@charset "UTF-8";

.all_container{
    display: flex;
    flex-direction: column;
    padding: 0 2em;

}
.all_container section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.all_container section:hover .section_title h3{
	letter-spacing: 3.5vw;
    padding-left: 3.5vw;
    transition: .3s;
}
.section_title{
    z-index: 3;
    position:absolute;
    color: rgb(255, 255, 255);
    text-align: center;

}
.section_title h3{
    font-size: 5vmax;
    /* font-family: 'Kanit', sans-serif; */
    letter-spacing: 3vw;
    line-height: 1em;
    padding-left: 3vw;
    margin: 0;
    transition: .3s;
}
.section_title h5{
    font-size: 1vmax;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1vw;
    padding-left: 1vw;
    margin: 0;
}
.head-border {
    display: flex;
    align-items: center;
}
 
.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #ffffff;
}
 
.head-border:before {
    margin-right: 1rem;
}
 
.head-border:after {
    margin-left: 1rem;
}
.char{
    width:100%;
    display: flex;
    justify-content: center;
}
.char_contents{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 3%;
    border: 0.5px solid #f0f0f0;
}
.char_contents li {
    margin: 0;
    height: 40vh;
}
.char_contents:has(> :nth-child(4)) li {
    width: calc(100% / 4);

}
.char_contents:has(> :nth-child(10)) li {
    width: calc(100% / 10);
}
.char_contents li img{
    height: inherit;
    width: 100%;
    object-fit: cover;
    transition: .2s;
    /* object-position: 0% 0%; */
}

.all_container section:hover .char_contents li img{
    filter: brightness(0.5);
    transition: .2s;
    z-index: -1;
}