@charset "UTF-8";

*{
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif, 'Noto Sans JP', sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  /* background-image: linear-gradient(153deg, rgb(179, 1, 1), rgba(0, 0, 0, 1) 25%); */
}
.mainVisual{
  position: relative;
  height: 100vh;
  width: 100%;
}
#before_mv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: inherit;
  height: inherit;
}
#before_mv video{
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#after_mv{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease;
}
#after_mv img{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
  /* filter:grayscale(30%); */
}
  
.mv_heading{
  position: absolute;
  margin: auto 0;
  width: auto;
  left: 25%;
  top: 10%;
  text-shadow: 2px 4px 4px rgba(255, 255, 255, 0.164);
}
.mv_heading h1{
  left: 0;
  font-size: 7vw;
  letter-spacing: 1vw;
  line-height: 100%;
  font-family: 'Kanit', sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  transform: scale(2, 1);
}

.slider{
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider_image{
  width:100%;
  height: 33.33vh;
  margin:0;
  filter: grayscale(100) brightness(0.4);
  position: absolute;

}
.slider_image img{
  height: 33.33vh;
  width: 100%;
}
.slider_image .slick-slide{
  height:auto!important;
}

.slider_text_container{
  position: absolute;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: #850000;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_text{
  width: 80%;
}
.other_page{
  width: 100%;
}

.other_page_navi{
  width: 100%;
  height: 60vh;
  margin-top: 8vh;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.other_page_image{
  position: absolute;
  width: 100%;
  height: 100%;
}
.other_page_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.other_page_contents{
  position: absolute;
  /* background-color: #ffffffc5; */
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.other_page_contents h1{
  color: rgb(255, 255, 255);
  font-size: 8vmax;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 3vw;
  margin: 0;
}
.other_page_join{
  width:200px;
  height:40px;
  line-height:40px;
  margin: 0 auto;
}
.other_page_join a{
  font-family: 'Noto Sans JP';
  display:flex;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#FFFFFF;
  text-align:center;
  align-items: center;
  justify-content: center;
  border:2px solid #323232;
  color:#323232;
  font-size:15px;
  font-weight:bold;
  border-radius:35px;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  transition: all 0.5s ease;
}
.other_page_join a:hover{
  background:#323232;
  color:#FFFFFF;
  margin-left:0px;
  margin-top:0px;
  border:5px solid #323232;
  box-shadow:none;
}


/* movie_page */


.movie_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.movie{
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7F7F7F;

}
.era{
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7F7F7F;
}
.era h2{
  color: #FFFFFF;
}
.movie img{
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: 0.2s;
}
.movie img:hover{
  width: 90%;
  height: 90%;
  transition: 0.2s;
}