@charset "UTF-8";

*{
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif, 'Noto Sans JP', sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: black;
  display: flex;
  justify-content: center;
}
hr{
  height: 0.1px;
  background-color: #fff;
  border: none;
}

/*左と右を囲う全体のエリア*/
#wrapper{
  width: 90%;
	position: relative;/*position stickyの基点にするため relativeをかける*/
	display: flex;/*左エリア、右エリア横並び指定*/
	flex-wrap: wrap;/*ボックスの折り返し可*/
}

/*左エリア*/
#fixed-area{
  /*左固定記述*/
  position: sticky;
  top:0;
	width: 40%;
	height: 100vh;
  display: flex;
  justify-content: center;
}

/*右エリア*/
#container{
	width:60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width:1000px){
  #wrapper{
    display: block;/*display:flex;を解除*/
  }
  #fixed-area{
     position:relative!important;/*position stickyを解除*/
    width:100%;/*横幅を100%にして1列に見せる*/
    height: 40vh;/*縦幅を100vh⇒40vh　※任意の高さに設定可能*/
  }
  #container{
    width:100%;/*横幅を100%にして1列に見せる*/
  }
  }

.movie_image{
  width: 100%;
  height: 100%;
}
.movie_image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#title{
  width: 100%;
  height: 30%;
  top: 0;
}
#title img[src$=".jpg"]{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#title img[src$=".png"]{
  width: 100%;
  height: 100%;
  padding: 5% 30%;
  object-fit: contain;
}
.container_wrapper{
  padding: 0 8%;
}
.about{
  width: 100%;
}
.article_title{
  color: aliceblue;
  font-size: 3vmax;
  font-weight: bold;
  margin: 0;
}
.about p{
  color:rgb(219, 219, 219);
  font-size: 20px;
  line-height: 2em;
}
.data{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
  margin: 10vh 0;
}
.label, .copy{
  font-size: 16px;
}
.label{
  color: rgb(107, 107, 107);
}
.copy{
  color: rgb(255, 255, 255);
}
.characters_intro{
  width: 100%;
}
.characters_container{
  width: 100%;
  display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
  margin-bottom: 10vh;
}
.characters_contents{
  width: 20%;
  height: 30vmin;
  margin: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.characters_contents img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.character_name{
  color: #fff;
  text-align: center;
}


.dli-chevron-round-left {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  position: sticky;
  top: 45%;
  left: 0;
  margin-right: 2em;
  width: 2em;
  height: 2em;
  transform: translateX(25%) rotate(-135deg);
}

.dli-chevron-round-left::before, .dli-chevron-round-left::after {
  content: '';
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}

.dli-chevron-round-left::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}

.dli-chevron-round-left::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}
.dli-chevron-round-right {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  position: sticky;
  top: 45%;
  right: 0;
  width: 2em;
  height: 2em;
  transform: translateX(-25%) rotate(45deg);
}

.dli-chevron-round-right::before, 
.dli-chevron-round-right::after {
  content: '';
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}

.dli-chevron-round-right::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}
 
.dli-chevron-round-right::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}

.dli-close {
  position:sticky;
  top: 3em;
  right: 3em;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  width: 3em;
  height: 0.2em;
  background: currentColor;
  border-radius: 0.1em;
  transform: rotate(45deg);
}

.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
